.icono__footer {
    @extend %iconos;
    @include mobile {
        font-size: 1.5rem;
    }
}

footer {
    padding: 3rem;
    color: white;
    background-color: $accentcolor;
    display: flex;
    align-items: center;
    justify-content: center;


    @include mobile {
        padding: 2rem;
        font-size: .6rem;
    }
}