header {
    background-color: $accentcolor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 3rem;
    padding-inline: 5rem;
    position: fixed;
    z-index: 100;
    width: 100%;
    transition: .2s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 25px 20px -20px;

    .nav-toggle {
        color: white;
        background: none;
        border: none;
        font-size: 2rem;
        display: none;
    }

    .logo {
        display: flex;
        gap: 1rem;
        align-items: center;

        h1 {
            color: white;
            font-size: 1.1rem;
        }
    }

    .menu {
        display: flex;
        list-style-type: none;
        gap: 1rem;

        .active {
            font-weight: 700
        }

        .menu__item a {
            color: white;
            text-decoration: none;
            transition: 0.3s;

            &:hover {
                font-weight: 700;
                color: $secondarycolor;
            }
        }
    }
}

@include tablet {

    header {

        display: block;

        .menu__mobile {

            justify-content: space-between;
            display: flex;

            .nav-toggle {
                display: block;
            }

            .logo {
                display: block;
            }

        }

        .navbar {

            .menu {
                display: flex;
                flex-direction: column;
                background-color: #0D1A3F;
                position: fixed;
                top: 9rem;
                width: 100%;
                gap: 2rem;
                align-items: center;
                padding-block: 4rem;


                height: calc(100% - 9rem);
                overflow-y: auto;

                left: 100%;
                transition: .3s;

                .menu__item {
                    padding-block: 1rem;
                }
            }

            .menu_visible {
                left: 0;
            }
        }

    }

}

@include mobile {

    header {

        padding-block: 3rem;
        padding-inline: 2.8rem;

        .menu__mobile {

            display: flex;
            align-items: center;

            .nav-toggle {
                display: block;
            }

            .logo {
                display: block;
                .simbolo {
                    max-width: 80%;
                }
            }

        }

        .navbar {

            .menu {
                display: flex;
                flex-direction: column;
                background-color: #0D1A3F;
                position: fixed;
                top: 9rem;
                width: 100%;
                gap: 2rem;
                align-items: center;
                padding-block: 4rem;


                height: calc(100% - 9rem);
                overflow-y: auto;

                left: 100%;
                transition: .3s;

                .menu__item {
                    padding-block: 1rem;
                }
            }

            .menu_visible {
                left: 0;
            }
        }

    }

}